@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300&display=swap');

        :root {
            --darkSelection: rgba(0, 0, 0, 0.699);
            --lightSelection: #fff;
            --nav: #000000e6;
            --topmargin: 3.5rem;
        }

        ::-moz-selection {
            color: var(--lightSelection);
            background-color: var(--darkSelection);
        }

        ::selection {
            color: var(--lightSelection);
            background-color: var(--darkSelection);
        }

        body {
            font-family: 'Martel', serif !important;

        }

        nav::-moz-selection {
            color: var(--darkSelection);
            background-color: var(--lightSelection);
        }

        nav::selection {
            color: var(--darkSelection);
            background-color: var(--lightSelection);
        }

        #navbararea::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        #navbararea::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        #navbararea::-webkit-scrollbar-thumb {
            background: #888;
        }

        #navbararea::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        nav {
            background-color: var(--nav);
            height: var(--topmargin);
        }

        div.loader {
            height: 256px;
        }

        .gradient {
            background-image: linear-gradient(49deg, rgb(97 224 148), rgb(55 130 255));
        }

        img.articleImg {
            width: 50%;
            max-width: 316px;
            float: right;
        }

        #back-to-top {
            position: fixed;
            bottom: 25px;
            right: 25px;
            display: none;
            font-size: 23px;
            padding: 0px 10px;
            background-color: rgb(255, 153, 0);
            background-image: linear-gradient(315deg, #1fbbf9 0%, #2125fe 74%) !important;
            border: none !important;
        }

        section {
            margin-top: 3.2rem;

        }

        section:not(.active) {
            display: none !important;
        }

        section#about img {
            max-height: 100%;
            max-width: 100%;
        }

        section#about .avatar,
        section#about .avatar img {
            border-radius: 8%;
        }

        section#about .avatar {
            height: 221px;
            width: 221px;
            background-color: #21adfe;
            background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
        }

        @media screen and (max-width: 260px) {
            section#about .avatar {
                width: 120px;
                height: 120px;
            }
        }

        .social-links a {
            display: inline-block;
            margin: 6px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }


        #article-area p {
            text-align: justify;
        }

        .nav-mob-overly {
            width: 100%;
            height: 100%;
            z-index: 997;
            top: 0;
            left: 0;
            position: fixed;
            background: rgba(52, 59, 64, 0.9);
            display: none;
        }

        @media (min-width: 768px) {
            .nav-mob-overly {
                visibility: hidden;
            }

        }

        @media (max-width: 767px) {

            #navbararea {
                position: fixed;
                top: var(--topmargin);
                left: -292px;
                bottom: 0px;
                max-width: 60vw;
                width: 290px;
                padding: 1rem;
                background-color: var(--nav);
                overflow-y: auto;
                overflow-x: hidden;
                overflow-wrap: break-word;
                opacity: 0.2;
                transition: all 600ms linear;

            }

            #navbararea .dropdown-item {
                white-space: break-spaces !important;
            }

            #navbararea.show {
                left: 0px;
                opacity: 1;
            }
        }